.loading {
  display:none
}
.loader {
  --color-1: green;
  --size: 1px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border-radius: 50%;
  display: none;
  border-top: calc(3 * var(--size)) solid var(--color-1);
  border-right: calc(3 * var(--size)) solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  align-items: center;
  justify-content: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}